@use './_variables' as *;

// Reset Rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// common rules
body {
    background-color: var(&bz-light);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex_container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}