@use './variables' as *;

// Reset Rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// common rules
body {
    background-color: $bz-light;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.d_flex {
    display: flex;
    justify-content: center;
}